body {
  font-family: 'Outfit', sans-serif;
}
/* 
.gradient-heading {
  background: linear-gradient(135deg, #f0f0f0, #c9c9d1, #a199ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
