body {
  font-family: 'Outfit', sans-serif;
}
/*
.gradient-heading {
  background: linear-gradient(135deg, #f0f0f0, #c9c9d1, #a199ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* Slide-in animation from right */
@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in-right {
  animation: slide-in-right 0.3s ease-out forwards;
}

/* Slide-in animation from right to center */
@keyframes slide-in-center {
  0% {
    transform: translateX(100%) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

.animate-slide-in-center {
  animation: slide-in-center 0.6s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}
